Repository PeerNA/Backend, pull requests merged in 2024-02, with the labels that each got.

#54 [Feat/#53] 크롤링 서비스 제거
  build.gradle
  src/main/java/cos/peerna/domain/keyword/job/QuartzJob.java
  src/main/java/cos/peerna/domain/keyword/service/QuartzService.java
  src/main/java/cos/peerna/global/common/util/InitDB.java
Labels: del

#56 [Feat/#55] 코드 리팩토링
  .DS_Store
  .gitignore
  src/main/generated/cos/peerna/domain/history/model/QHistory.java
  src/main/generated/cos/peerna/domain/keyword/model/QKeyword.java
  src/main/generated/cos/peerna/domain/notification/model/QNotification.java
  src/main/generated/cos/peerna/domain/problem/model/QProblem.java
  src/main/generated/cos/peerna/domain/reply/model/QLikey.java
  src/main/generated/cos/peerna/domain/reply/model/QReply.java
  src/main/generated/cos/peerna/domain/room/model/QChat.java
  src/main/generated/cos/peerna/domain/user/model/QFollow.java
  src/main/generated/cos/peerna/domain/user/model/QInterest.java
  src/main/generated/cos/peerna/domain/user/model/QUser.java
  src/main/generated/cos/peerna/global/common/model/QBaseTimeEntity.java
  src/main/java/cos/peerna/domain/history/model/History.java
  src/main/java/cos/peerna/domain/problem/controller/ProblemController.java
  src/main/java/cos/peerna/domain/problem/dto/ProblemAnswerResponseDto.java
  src/main/java/cos/peerna/domain/problem/service/ProblemService.java
  src/main/java/cos/peerna/domain/reply/controller/ReplyController.java
  src/main/java/cos/peerna/domain/reply/dto/ReplyRegisterRequestDto.java
  src/main/java/cos/peerna/domain/reply/dto/data/ReplyData.java
  src/main/java/cos/peerna/domain/reply/model/Likey.java
  src/main/java/cos/peerna/domain/reply/model/Reply.java
  src/main/java/cos/peerna/domain/reply/repository/ReplyRepository.java
  src/main/java/cos/peerna/domain/reply/service/ReplyService.java
  src/main/java/cos/peerna/domain/room/service/RoomService.java
  src/main/java/cos/peerna/domain/user/model/User.java
  src/main/java/cos/peerna/domain/user/service/UserService.java
Labels: del, fix, refactor

#60 Refac/delete useless code
  src/main/frontend/main.css
  src/main/frontend/package.json
  src/main/frontend/tailwind.config.js
  src/main/java/cos/peerna/PeernaApplication.java
  src/main/java/cos/peerna/domain/history/controller/HistoryController.java
  src/main/java/cos/peerna/domain/history/dto/DetailHistoryResponseDto.java
  src/main/java/cos/peerna/domain/history/service/HistoryService.java
  src/main/java/cos/peerna/domain/notification/controller/NotificationController.java
  src/main/java/cos/peerna/domain/notification/service/NotificationService.java
  src/main/java/cos/peerna/domain/reply/controller/ReplyController.java
  src/main/java/cos/peerna/domain/room/controller/RoomController.java
  src/main/java/cos/peerna/domain/room/model/Chat.java
  src/main/java/cos/peerna/domain/room/model/ConnectedUser.java
  src/main/java/cos/peerna/domain/room/model/WaitingUser.java
  src/main/java/cos/peerna/domain/room/repository/ConnectedUserRepository.java
  src/main/java/cos/peerna/domain/room/repository/WaitingUserRepository.java
  src/main/java/cos/peerna/domain/room/service/RoomService.java
  src/main/java/cos/peerna/domain/user/controller/UserController.java
  src/main/java/cos/peerna/domain/user/dto/UserRegisterRequestDto.java
  src/main/java/cos/peerna/domain/user/model/Category.java
  src/main/java/cos/peerna/domain/user/model/User.java
  src/main/java/cos/peerna/domain/user/service/UserService.java
  src/main/java/cos/peerna/global/common/controller/HomeController.java
  src/main/java/cos/peerna/global/common/controller/TestController.java
  src/main/java/cos/peerna/global/security/CustomAuthenticationProvider.java
  src/main/java/cos/peerna/global/security/CustomAuthenticationSuccessHandler.java
  src/main/java/cos/peerna/global/security/CustomOAuth2UserService.java
  src/main/java/cos/peerna/global/security/dto/OAuthAttributes.java
  src/main/java/cos/peerna/global/security/dto/SessionUser.java
  src/main/resources/application-oauth.yml
  src/main/resources/application.yml
  src/main/resources/static/js/match.js
  src/main/resources/static/js/signUp.js
  src/main/resources/templates/index.html
  src/main/resources/templates/login.html
  src/main/resources/templates/loginPage.html
  src/main/resources/templates/signUp.html
Labels: feat, del, refactor
